@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Playfair+Display:wght@500&display=swap");
* {
  margin: 0px;
}

body {
  background-color: #FAF6F0;
  width: 100%;
  height: 100%;
  font-family: "Oswald", sans-serif;
}

header {
  margin: 0;
  margin-bottom: 70px;
  display: flex;
  padding: 20px 25px;
  height: 117px;
}
header .logo {
  max-width: 250px;
  min-width: 170px;
  height: 100px;
}
header .logo .mainlogo {
  max-width: 100%;
  height: auto;
  background-color: #FAF6F0;
}
header #menu {
  display: flex;
  width: 100%;
  padding-left: 0;
}
header #menu li {
  color: #212121;
  margin: auto;
  list-style: none;
  font-weight: 400;
  padding: 20px 0px;
}
header #menu li .subUl {
  display: none;
}
header #menu li a {
  color: inherit;
  text-decoration: inherit;
}
header #menu li:hover {
  color: #ff7b69;
  position: relative;
}
header #menu li:hover .subUl {
  color: #212121;
  display: block;
  position: absolute;
  left: -40px;
  width: 300px;
  top: 60px;
}
header #menu li:hover .subUl li {
  border-top: 1px solid rgba(255, 255, 255, 0.637);
  padding: 10px;
  background-color: #ffbdb4;
}
header .sideMenu {
  width: 84px;
  margin: auto;
}
header .sideMenu img {
  width: 23px;
  height: 23px;
}
header .sideMenu img:hover {
  -webkit-filter: opacity(0.5) drop-shadow(0 0 0 #ff1e00);
  filter: opacity(0.5) drop-shadow(0 0 0 #e4af04);
}
header .sideMenu .listIcon {
  display: none;
}
header .hideMenu {
  display: none;
  position: fixed;
  width: 100%;
  top: 0;
  left: 1000px;
  background-color: chocolate;
  z-index: 1;
  transition: all 0.35s;
  padding-top: 40px;
}
header .hideMenu .clear {
  display: block;
  margin-right: 0;
  position: absolute;
  right: 50px;
  font-size: 3em;
  top: 9px;
}
header .hideMenu li {
  font-size: 1.5rem;
  color: #ffffff;
  font-weight: 400;
  list-style: none;
  margin-top: 10px;
}
header .hideMenu li a {
  color: inherit;
  text-decoration: inherit;
}
header .on {
  display: block;
  height: 100%;
  left: 0;
}

.sideLeft {
  position: fixed;
  left: 0;
  transform: rotate(270deg);
  transform-origin: top left;
  top: 60%;
  padding: 16px 20px;
  background: #EF962B;
  width: 250px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 2.4px;
  font-weight: 400;
}

.sideRigth {
  position: fixed;
  right: 0;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  transform-origin: top right;
  top: 60%;
  padding: 16px 20px;
  background: #EF9F9A;
  width: 250px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 2.4px;
  font-weight: 400;
}

.main {
  display: flex;
  padding: 0 5%;
}
.main .mainimg {
  margin-left: auto;
  margin-right: 2%;
  padding: 0;
}
.main .mainimg img {
  background-image: url(https://snugdesigns.co.uk/wp-content/uploads/2019/08/screencapture-shine-snugdesigns-co-uk-2019-08-17-23_08_53-copy.png);
  width: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top center;
  -webkit-transition: all 5s ease-in-out;
  -moz-transition: all 5s ease-in-out;
  -ms-transition: all 5s ease-in-out;
  -o-transition: all 5s ease-in-out;
  transition: all 5s ease-in-out;
  line-height: 0;
  display: block;
}
.main .mainimg img:hover {
  background-position: 100% 100%, center top;
}
.main .mainimg p {
  margin-top: 10px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 2rem;
  letter-spacing: 2.4px;
}
.main .mainContent {
  width: 48%;
  margin-right: auto;
  margin-left: 2%;
}
.main .mainContent h1 {
  font-family: "Playfair Display", serif;
  font-size: 5rem;
  line-height: 72px;
  font-weight: 300;
}
.main .mainContent .price {
  margin: 36px 0;
  font-size: 2.25em;
  color: #212121;
}
.main .mainContent p {
  line-height: 29px;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
}
.main .mainContent b {
  font-family: "Playfair Display", serif;
}
.main .mainContent h2 {
  margin: 20px 0 30px 0;
  padding: 0 0 8px;
  line-height: 42px;
}
.main .mainContent a {
  color: inherit;
  text-decoration: inherit;
  box-shadow: inset--3px 0 #EF9F9A;
  -webkit-box-shadow: inset 0 -3px 0 #EF9F9A;
  font-weight: 400;
}
.main .mainContent .btn {
  display: flex;
}
.main .mainContent .btn button {
  display: block;
  width: 48%;
  border: 0;
  font-size: 1rem;
  padding: 20px;
  color: #ffffff;
  font-weight: 400;
  line-height: 1em;
  transition: box-shadow 0.3s linear;
  -webkit-transition: box-shadow 0.3s linear;
}
.main .mainContent .btn .demo {
  background-color: #EF962B;
  margin-right: 4%;
}
.main .mainContent .btn .add {
  background-color: #EF9F9A;
}
.main .mainContent .btn .demo:hover {
  box-shadow: 5px 5px #EF9F9A;
}
.main .mainContent .btn .add:hover {
  box-shadow: 5px 5px #EF962B;
}

.howItWorks {
  text-align: center;
  font-size: 3.75rem;
  font-family: "Playfair Display", serif;
  margin-top: 60px;
  margin-bottom: 110px;
}

.howToWorks {
  display: grid;
  justify-content: center;
  grid-template-columns: 30% 30% 30%;
}
.howToWorks .works {
  background: #ffffff;
  padding: 30px;
  text-align: center;
  position: relative;
  margin: 0 5%;
}
.howToWorks .works .num {
  height: 100px;
  max-width: 100px;
  min-width: 100px;
  border-radius: 50%;
  margin: -78px auto 0;
  position: relative;
  background: #EF9F9A;
}
.howToWorks .works .num p {
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  top: 40%;
  font-family: "Playfair Display", serif;
  font-size: 3.75rem;
  color: #ffffff;
}
.howToWorks .works div {
  font-family: "Open Sans", sans-serif;
}
.howToWorks .works div h3 {
  text-transform: uppercase;
  font-size: 2.25em;
  font-weight: 300;
  margin: 32px 0;
}
.howToWorks .works div .worksContent {
  margin-top: 22px;
  font-size: 1.375rem;
}

@media (max-width: 770px) {
  header {
    height: 81.5px;
  }
  header .logo {
    width: 170px;
  }
  header #menu {
    display: none;
    color: brown;
  }
  header .sideMenu {
    margin-right: 0px;
  }
  header .sideMenu .listIcon {
    display: inline-block;
    float: right;
    margin-left: 6px;
  }
  header .hideMenu {
    display: block;
  }

  .sideLeft {
    display: none;
  }

  .sideRigth {
    display: none;
  }

  .main {
    display: block;
  }
  .main .mainContent {
    width: 100%;
  }
  .main .mainContent .btn {
    display: block;
  }
  .main .mainContent .btn .demo {
    margin-bottom: 20px;
    width: 100%;
  }
  .main .mainContent .btn .add {
    width: 100%;
  }

  .howToWorks {
    display: inline;
  }
  .howToWorks .works {
    margin-bottom: 80px;
  }
}
@media (max-width: 340px) {
  header {
    display: block;
  }
  header .sideMenu {
    float: left;
  }
}

/*# sourceMappingURL=style.css.map */
